<!-- Author: Marshall Ma -->

<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
<title>Marshall Ma</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
 <!-- Custom Theme files -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="keywords" content="Preface Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<!-- webfonts -->
	<link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<!-- webfonts -->

<!-- social icons -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
	<body>
		<!-- container -->
			<!-- header -->
			<div id="home" class="header">
				<div class="container">
				<!-- top-hedader -->
				<div class="top-header">
					<!-- /logo -->
					<!--top-nav---->
					<div class="top-nav">
					<div class="navigation">
					<div class="logo">
						<h1><a href="{% url 'home' %}">
							<span>Marshall Ma </span>
						</a></h1>
					</div>
					<div class="navigation-right">
						<!-- <span class="menu"><img src="{% static 'images/menu.png' %}" alt=" " /></span> -->
						<nav class="link-effect-3" id="link-effect-3">
							<ul class="nav1 nav nav-wil">
								<li class="active"><a data-hover="Home" href="{% url 'home' %}">Home</a></li>
								<li><a class="scroll" data-hover="Projects" href="#projects" >Projects</a></li>
								<li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
								<li><a class="scroll" data-hover="Resume" href="{% static 'Marshall_Ma_Resume.pdf' %}">Resume</a></li>
								<li><a class="scroll" data-hover="Vlogs" href="#vlogs">Vlogs</a></li>
								<li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
							</ul>
						</nav>
							
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- /top-hedader -->
				</div>
			<div class="banner-info">
				<div class="col-md-7 header-right">
					<h1>Hi !</h1>
					<br />
					<br />
					<h6>I am Marshall</h6>
					<ul class="address">
						
						<h5>	
							<p>
								I am master student at Carnegie Mellon University. Skilled in web development, Andriod and IOS application, search engine, machine learning as well as financial engineering. Actively seeking a full-time job of software engineer.
							</p>
							
							<p>
								I love basketball, badminton, guitar, popping dance and travel. I have a bilibili and a youtube channel to record my life.
							</p>

						</h5>
						
					</ul>
				</div>
				<div class="col-md-5 header-left">
					<img src="{% static 'images/img1.jpg' %}" alt="">
				</div>
				<div class="clearfix"> </div>
						
		      </div>
			</div>
		</div>
	</div>
	
			<!-- projects -->
			<div id="projects" class="projects">

				<div class="container">
					<div class="project-head one text-center ">
						<h4>WHAT I LEARNED</h4>
						<h3>MY <span>PROJECTS</span></h3>
						<span class="border two"></span>
					</div>

					<br />
					<br />

					<div class="row">
        			{% for project in projects.all %}
        			<div class="col-md-4">
          				<div class="card mb-4 box-shadow">
            				<img class="card-img-top img-fluid" src="{{ project.image.url }}"/>
            				<div class="card-body">
              					<p class="card-text text-center">
              						{{ project.title }}
              					</p>
              					<p class="card-text">
              						{{ project.body | linebreaks}}
              					</p>
              					<!-- <div class="d-flex justify-content-between align-items-center"></div> -->
              					<!-- <div class="btn-group">
                  					<button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                				</div>
                				<small class="text-muted text-right">Carnegie Mellon University</small> -->
            				</div>
          				</div>
        			</div>
        
        			{% endfor %}
      				</div>


				</div>
			</div>
			<!-- projects -->




			<!--work-experience-->
	<div id="work" class="work">
		<div class="container">
			<div class="project-head text-center">
						<h4>WHAT I DID</h4>
						<h3>MY <span>EXPERIENCE</span></h3>
						<span class="border one"></span>
					</div>

<!-- try -->

<div class="newtimeline">
  
  <h3 class="newtimeline__item newtimeline__item--year">2014</h3>
  
  <div class="newtimeline__item">
    <h4 class="newtimeline__title">Graduated from
    	<a data-hover="Beijing 101 Middle School" href="https://en.wikipedia.org/wiki/Beijing_101_Middle_School">Beijing 101 Middle School</a></h4>
    <p class="newtimeline__blurb">On behalf of my school's delegation, I visited the United States and Hong Kong (China). I realized my passion for cultural exchange as well as exploring a new environment.  </p>
  </div>
  
  <h2 class="newtimeline__item newtimeline__item--year">2015</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Entered
  	<a data-hover="Beijing 101 Middle School" href="https://en.wikipedia.org/wiki/Beijing_101_Middle_School">National Chiao Tung University</a></h4>
    <p class="newtimeline__blurb">I chose Information Management and Finance as my major. I believe it is a unique major all over the world, which train students to master knowledge of both technology and finance. I also joined the basketball team of my department and NCTU pop dance club, starting my exciting college life.</p>
  </div>
  
  <h2 class="newtimeline__item newtimeline__item--year">2016</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Joined
  		<a data-hover="NCTU Student Union" href="https://www.facebook.com/NCTUStudentUnion/">NCTU Student Union</a></h4>
    <p class="newtimeline__blurb">I worked at the department of Public Relations first and then became the department head. I organized several big activities with over 10000 participants. Under my lead, the department developed close relations with companies and raised over 200,000 TWD.</p>
  </div>
  

  <h2 class="newtimeline__item newtimeline__item--year">2017</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Summer Internship at
  		<a data-hover="AsiaInfo" href="https://www.asiainfo.com/en_us/index.html">AsiaInfo</a></h4>
    <p class="newtimeline__blurb">As a software enginner, I tested Data Asset Cloud Map and Visual Development Tools and identified over 20 functional issues.</p>
  </div>
  
  <h2 class="newtimeline__item newtimeline__item--year">2018</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Summer Internship at
  		<a data-hover="Deloitte Consulting" href="https://www2.deloitte.com/global/en/services/consulting-deloitte.html">Deloitte Consulting</a></h4>
    <p class="newtimeline__blurb">I led the team to finish the digital transformation report of gold jewelry retail industry. I learned how to collect and analyze data for a specific industry. </p>
  </div>
  
  <h2 class="newtimeline__item newtimeline__item--year">2019</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Exchanged at
  		<a data-hover="National University of Singapore" href="http://www.nus.edu.sg/">National University of Singapore</a></h4>
    <p class="newtimeline__blurb">I experienced the different Southeast Asia culture and I love it! I made friends with other exchange students from different countries and traveled to Malaysia, Thailand, Vietnam and Cambodia. That's when I started my youtube channel to record my life!</p>
  </div>
  
  <div class="newtimeline__item">
    <h3 class="newtimeline__title">Graduated from NCTU</h3>
    <p class="newtimeline__blurb">My GPA was 3.9 / 4.0 and ranked the second at my department. I won the Academic Achievement Awards in NCTU several times. Due to my excellent grade, I was invited to join the Beta Gamma Sigma Honorary Business School Society, which was seen as the dean's list of my college.</p>
  </div>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Entered
  		<a data-hover="Carnegie Mellon University" href="https://www.cmu.edu/">Carnegie Mellon University</a></h4>
    <p class="newtimeline__blurb">I was admitted to the Master of Information System Management program and started to advance my technology skills. I learned about OOP, database, distributed system, search engine and NoSQL. </p>
  </div>
  
  <h2 class="newtimeline__item newtimeline__item--year">2020</h2>
  
  <div class="newtimeline__item">
  	<h4 class="newtimeline__title">Summer Internship at
  		<a data-hover="BizCatcher International" href="https://www.bizcatcher-intl.com/">BizCatcher International</a></h4>
    <p class="newtimeline__blurb">detail</p>
  </div>
  
  
  
</div>


<!-- try -->

					<!-- <div class="time-main w3l-agile">
							<div class="col-md-6 year-info">
							   <ul class="year">
								   <li>2016</li>
								   <li>2015</li>
								   <li>2014</li>
								   <li>2013</li>
								   <li>2012</li>
								   <li>2011</li>
								   <div class="clearfix"></div>
								</ul>
							</div> 
					                        <ul class="col-md-6 timeline">
																<li>
																  <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
																  <div class="timeline-panel">
																	<div class="timeline-heading">
																	  <h4 class="timeline-title">COMPANY NAME</h4>
																	</div>
																	<div class="timeline-body">
																	  <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
																	</div>
																  </div>
																</li>
																
																<li>
																  <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
																  <div class="timeline-panel">
																	<div class="timeline-heading">
																	  <h4 class="timeline-title">COMPANY NAME</h4>
																	</div>
																	<div class="timeline-body">
																	  <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
																	</div>
																  </div>
																</li>
																
																
																
																<li>
																  <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
																  <div class="timeline-panel">
																	<div class="timeline-heading">
																	  <h4 class="timeline-title">COMPANY NAME</h4>
																	</div>
																	<div class="timeline-body">
																	  <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
																	</div>
																  </div>
																</li>
																
																<li>
																  <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
																  <div class="timeline-panel">
																	<div class="timeline-heading">
																	  <h4 class="timeline-title">COMPANY NAME</h4>
																	</div>
																	<div class="timeline-body">
																	  <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
																	</div>
																  </div>
																</li>
																<li>
																  <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
																  <div class="timeline-panel">
																	<div class="timeline-heading">
																	  <h4 class="timeline-title">COMPANY NAME</h4>
																	</div>
																	<div class="timeline-body">
																	  <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus </p>
																	</div>
																  </div>
																</li>
															</ul>
								<div class="clearfix"></div>
								</div> -->
						</div>
				</div>
	<!--//work-experience-->

    <!-- top-grids -->
				<div class="vlog" id="vlogs">
					<div class="container">
						<div class="project-head text-center vlog-title">
						<h4>VLOGS</h4>
						<h3>MY <span>VLOGS</span></h3>
						<span class="border one"></span>
					</div>
					   <div class="news-grid w3l-agile">
					    <div class="col-md-6 news-img">
						  <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{% static 'images/lasvegas1.jpg' %}" alt=" " height=344></a>
						 
						</div>
					    <div class="col-md-6 news-text" height=100>
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Las Vegas 🇺🇸</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>
								This is my first road trip in America
								<br>
								We were very lucky that we made it before the ourbreak of Covid-19
								<br>
								Our route: Grand Canyon → Horseshoe Bay → Antelope Valley → Bryce Canyon National Park
								<br>
								The views were amazing !!!
							</p>

							<a href="https://youtu.be/ta4jXpJjTTg" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Watch Now</a>
							
						</div>
		
						<div class="clearfix"></div>
					 </div>
					  <div class="news-grid">

					    <div class="col-md-6 news-text two">
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Thailand 🇹🇭</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>During the recess week of my exchange in NUS, I went to Thailand (Bangkok and Phuket) with my friends from Taiwan. 
							<br>
							We went to the Chatuchak Weekend Market, Ratchada Market, Maeklong Railway Market, Damnoen Saduak Floating Market, tried the delicious Thai food and the famous Thai massage
							<br>
							We also tried snorkeling and forest zip line, which was a special and impressive experience (the coaches at Hanuman World were so funny)
							</p>
								<a href="https://youtu.be/j0aNW_M8KYk" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Watch Now</a>
					
						</div>
						<div class="col-md-6 news-img two">
						   <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{% static 'images/thailand1.png' %}" alt=" " class="img-responsive"></a>
						 
						</div>
						<div class="clearfix"></div>
					 </div>
					  <div class="news-grid">
					    <div class="col-md-6 news-img">
						  <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{% static 'images/malaysia.JPG' %}" alt=" " class="img-responsive"></a>
						 
						</div>
					    <div class="col-md-6 news-text">
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Malaysia 🇲🇾</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>
								During the Chinese new year holiday, I wen to Malaysia ( KL + Melaka ) with my friends Vicky (from New Zealan) and Mean (from Thailand)
								<br>
								The food was sooooo good !! The durian ice cream was the most impressive and we even came back to have it again. Most of the food were halal, so it is heaven for a muslim like me
								<br>
								The buildings were magnificant and we took many photos
							</p>

							<a href="https://youtu.be/j9ueWQBh_cs" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Watch Now</a>
					
						</div>
		
						<div class="clearfix"></div>
					 </div>


					 <div class="news-grid">

					    <div class="col-md-6 news-text two">
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Cambodia 🇰🇭</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>
								Visited: KABBAS Restaurant, CHHMA CATFE(a cat cafe), PHNOM PENH NIGHT MARKET, Tuol Sleng Genocide Museum, Angkor Wat, Khmer Kitchen restaurant, BUGS CAFE and The Red Piano
								<br>
								I tried the traditional Cambodian food, as well as the bugs cuisine for the first time. I also found the place where Tony Leung whispers at the end of the movie <i>In the Mood for Love </i>
								<br>


							</p>
								<a href="https://youtu.be/v6wSfPg7ofk" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Watch Now</a>
					
						</div>
						<div class="col-md-6 news-img two">
						   <a href="https://youtu.be/v6wSfPg7ofk" data-toggle="modal" data-target="#myModal1"> <img src="{% static 'images/cambodia1.JPG' %}" alt=" " height=372></a>
						 
						</div>
						<div class="clearfix"></div>
					 </div>


					 <div class="news-grid">
					    <div class="col-md-6 news-img">
						  <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{% static 'images/guitar.png' %}" alt=" " height=345></a>
						 
						</div>
					    <div class="col-md-6 news-text">
						   <h3> <a href="#" data-toggle="modal" data-target="#myModal1">Playing Guitar 🎸</a></h3>
							<!-- <ul class="news">
								<li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
								<li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
								<li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
								<li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
							</ul> -->
							<p>
								I covered the songs of Joker Xue - one of my favorite singers, using only 6 simple chords
								<br> 
								Order: Talent, Just Right, What Else Do You Want Me To Do, Actor, Ambiguous Love, Actually, Miles Around, It's Raining, Gentleman
								<br>
								<br>
							</p>

							<a href="https://youtu.be/aBEFecIG2-Y" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Watch Now</a>
					
						</div>
		
						<div class="clearfix"></div>
					 </div>


					</div>
				</div>
				<!-- top-grids -->
	

			<!-- /header -->
<div class="footer" id="contact">
	<div class="container">
	<div class="project-head one text-center">
						<h4>CONTACT ME</h4>
						<br />
						<br />
						<h3>GET <span>IN TOUCH WITH ME</span></h3>
						<span class="border two"></span>
					</div>
		<!-- <div class="mail_us">
			<div class="col-md-6 mail_left">
				<div class="contact-grid1-left">
					<div class="contact-grid1-left1">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<h4>Contact By Email</h4>
						<ul>
							<li>Mail1: <a href="mailto:info@example.com">info@example1.com</a></li>
							<li>Mail2: <a href="mailto:info@example.com">info@example2.com</a></li>
						</ul>
					</div>
				</div>
					<div class="contact-grid1-left">
						<div class="contact-grid1-left1">
							<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
							<h4>Contact By Phone</h4>
							<ul>
								<li>Phone: +0000 123 312</li>
								<li>Fax: +123 312</li>
							</ul>
						</div>
					</div>
					<div class="contact-grid1-left">
						<div class="contact-grid1-left1">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							<h4>Looking For Address</h4>
							<ul>
								<li>Address: General Pvt 66, Dong Da</li>
								<li>Hanoi, Vietnam.</li>
							</ul>
						</div>
					</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 mail_right">
				<form action="#" method="post">
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="text" name="Mobile number" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
					<textarea name="Message..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Send">
					
				</form>
			</div>
			<div class="clearfix"></div>
		</div> -->
		
			<br />
			<br />
			<br />
			<div class="copy_right_text social-menu">
  				<ul>
   					<li><a href="https://www.facebook.com/mashuai951114"><i class="fa fa-facebook"></i></a></li>
    				<li><a href="https://www.instagram.com/marshall951114"><i class="fa fa-instagram"></i></a></li>
    				<li><a href="mailto:mashuai951114@gmail.com"><i class="fa fa-google"></i></a></li>
    				<li><a href="https://www.youtube.com/channel/UCDmxyXo5R4tLTqFPnS0APOw?view_as=subscriber"><i class="fa fa-youtube"></i></a></li>
    				<li><a href="https://www.linkedin.com/in/cmu-marshall-ma"><i class="fa fa-linkedin"></i></a></li>
    				
  				</ul>
			</div>
			

			<br />
			<br />
			<br />
	<div class="copy_right_text text-center"> © Marshall Ma {% now "Y" %}</div>
	</div>

	
</div>





			<!-- //footer -->
		<!-- /container -->
		

<a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
<!-- //for bootstrap working -->

	<script src="{% static 'js/bootstrap.js' %}"></script>
	

	</body>
</html>

